.login_details {
    display:block;
    min-width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #fff; /* White background */
    border: 1px solid #ddd; /* Light grey border */
    border-radius: 10px; /* Rounded corners */
    padding: 5px; /* Padding inside the select box */
    color: #333; /* Text color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for focus */
    font-size: 24px;
    font-weight: lighter;
}

.credentials {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin: 10px;
}


.label {
    display: block;
    margin-bottom: 5px;
}

.mat-form-field {
    display: block;
    
    margin-top: 5px;
}

.login_button {
    display: flex;
    justify-content: center;
    width: 150px;
}